body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: darkgrey; /* A dark grey background */
    color: black;
}

h1 {
    color: darkolivegreen;
}

p {
    line-height: 1.6;
}